@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://forms.gle/g5mjx4TWRoCK77Ke9" target="_blank">Feedback survey</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
